.map{
left-margin: 20px auto;
padding: 20px;
}

@viewport {
    width: auto;
}

.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e1e1e1;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.product {
    margin: 20px auto;
    border: 1px solid #000000;
    width: 80%;
}

table.product td:first-child {
    font-weight: bold;
    color: #77c3ec
}

table.product td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}

p {
    vertical-align: top;
    margin-left: 30px;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

div.product {
    border: 1px solid #e1e1e1;
    width: 80%;
    background-color: #e1e1e1;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-inverse {
    background-color: #BF7F3F;
    border-color: #080808;
}

navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-brand > img {
    display: block;
}

.navbar-toggler-icon{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.collapse {
    display: none;
}

.container-fluid{
    width: 1000px;
    height: 217px;
    background-color: #1c0c4f

}
.btn-success {
    color: #fff;
    background-color: #ff8351;
    border-color: #d4e3fc;
}