
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <title>Personal Banking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">&emsp;
        <a class="navbar-brand" href="#">Personal Banking</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Checkings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Savings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pay Your Bills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{personal_Wallet}">Personal Wallet</a>
                </li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Sign-Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<form method="post">

    <h1>welcome to personal wallet</h1>

    <div class="form-group">
            <p th:text="${' User Name : ' + username}"></p>

    </div>
    <div class="form-group">
        <p th:text="${' Full Name : ' + fullName}"></p>

    </div>
        <div class="form-group">

                <p th:text="${'Account number :' + account}"></p>
        </div>

    <div class="form-group">
        <p th:text="${'Available balance :' + ' $ 50,00,000'}"></p>
    </div>
    <div class="form-group">
        <p th:text="${'Reward:' + '10,000'}"></p>
    </div>
    <div class="form-group">

            <p th:text="${'Email : ' + email}"></p>
    </div>
<div>
    <footer th:replace = "fragments :: footer"></footer>
</div>
</form>
</body>
</html>