<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<div>
    <form th:action="@{/login}" method="post">
        <button type="submit" class="btn btn-primary"><a th:href="@{/login}">Sign-In</a></button>
    </form>

    <form th:action="@{/register}" method="post">
        <button type="submit" class="btn btn-primary"><a th:href="@{/register}">Register</a></button>
    </form>
</div>

<div>
    <h1>Please Register!</h1>
</div>

<form th:action="@{/register_success}" method="post">

    <div class="form-group">
        <label th:for="username">Username
            <input class = "form-control" th:field="${registerFormDTO.username}"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.username}"></p>
    </div>

    <div class="form-group">
        <label th:for="Password">Password
            <input class = "form-control" th:field="${registerFormDTO.password}" type="password"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
    </div>

    <div class="form-group">
        <label th:for="password">Confirm Password
            <input class = "form-control" th:field="${registerFormDTO.verifyPassword}" type="password"/>
        </label>
    </div>

    <input type="submit" class="btn btn-primary" value="Register">
</form>

<p>Forgot <a href="/username">Username</a> or <a href="/password">Password</a> ? </p>
<p>Need Help? <a href="/contact">Chat Here>>></a></p>

<div th:replace="fragments:: footer"></div>

</body>
</html>