<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" >
    <link th:href="@{/css/bank.css}" rel="stylesheet" >
    <script type ="text/javascript" th:src = "@{/js/bootstrap.js}"></script>
    <title>Successfully registered</title>
</head>

<body>

<div>
    <h1>Congratulations!! You Are Now Successfully Registered!</h1>
</div>

<form th:action="@{/login}" method="post">
   <p>Click Here!!!</p>
       <input type="submit" value="Sign-In">

</form>


<div>
    <footer th:replace = "fragments :: footer"></footer>
</div>
</body>
</html>